version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: ci
    labels:
      - dependencies

  - package-ecosystem: npm
    versioning-strategy: increase
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies

  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies

  - package-ecosystem: uv
    directory: /injection_tests
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies

  - package-ecosystem: swift
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: monthly
    cooldown:
      default-days: 7
    commit-message:
      prefix: build(deps)
    labels:
      - dependencies
