name: CI

permissions: {}

env:
  TREE_SITTER_VERSION: "v0.25.10"
  TREE_SITTER_ABI_VERSION: "15"
  # arbitrary, for linting only
  NODE_VERSION: "22.16.0"
  # currently not bumped by dependabot
  TS_QUERY_LS_VERSION: "v3.15.1"

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint grammar
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version: ${{ env.NODE_VERSION }}
      - name: Install modules
        run: npm ci --legacy-peer-deps
      - name: Run tsc
        run: npm run typecheck
      - name: Run ESLint
        run: npm run lint
  test:
    name: Test parser
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15]
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@eeb902ac2f1be576edc296309872cf476a209b7f # v2
        with:
          tree-sitter-ref: ${{ env.TREE_SITTER_VERSION }}
      - name: Run parser and binding tests
        # tags are mutable...
        uses: tree-sitter/parser-test-action@05f6ce7c7e54603c45cd87ed926725dc870bcc63 # master
        with:
          test-go: true
          go-version: 1.23
          test-python: true
          test-node: true
          node-version: ${{ env.NODE_VERSION }}
          test-rust: true
          # setup-swift fails GPG validation on linux
          test-swift: ${{ runner.os == 'macOS' }}
          abi-version: ${{ env.TREE_SITTER_ABI_VERSION }}

  fuzz:
    name: Fuzz scanner
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Run the fuzzer
        uses: tree-sitter/fuzz-action@6a1dcff00aefd038ba418bd63732a9add4901266 # v4

  markdown-lint:
    name: Lint markdown
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Run rumdl
        uses: rvben/rumdl@8074f0494bd6ff03f7d5590a9beaeb124da702a1 # v0.0.190

  corpora:
    name: Parse corpora
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          version: "0.8.3"
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "injection_tests/pyproject.toml"
      - name: Lint tests
        run: make lint
        working-directory: injection_tests
      - name: Parse corpora
        run: make -Otarget -j test
        working-directory: injection_tests

  query:
    name: Lint Queries
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@eeb902ac2f1be576edc296309872cf476a209b7f # master
        with:
          tree-sitter-ref: ${{ env.TREE_SITTER_VERSION }}
      - name: Build parser
        run: tree-sitter build
      - name: Cache ts_query_ls binary
        id: cache-ts-query-ls
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ~/.local/bin/ts_query_ls
          key: ts_query_ls-${{ env.TS_QUERY_LS_VERSION }}-${{ runner.os }}-${{ runner.arch }}
      - name: Setup ts_query_ls
        if: ${{ steps.cache-ts-query-ls.outputs.cache-hit != 'true' }}
        run: |
          mkdir -p ~/.local/bin
          curl --fail --location "${TS_QUERY_LS_DIST}" | tar -zxC ~/.local/bin ts_query_ls
        env:
          TS_QUERY_LS_DIST: "https://github.com/ribru17/ts_query_ls/releases/download/${{ env.TS_QUERY_LS_VERSION }}/ts_query_ls-x86_64-unknown-linux-gnu.tar.gz"
      - name: Check queries
        run: ~/.local/bin/ts_query_ls check -f queries/
