name: Diff

on:
  workflow_dispatch:
  pull_request:
    branches:
      - '*'

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  diff-corpora:
    name: Diff corpora
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      pull-requests: write # adds comment to pull request
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@d0cc045d04ccac9d8b7881df0226f9e82c39688e # v6.8.0
        with:
          version: "0.7.20"
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: "injection_tests/pyproject.toml"
      - name: Lint tests (PR)
        run: make lint
        working-directory: injection_tests
      - name: Parse corpora (PR)
        run: make -Otarget -j dump
        working-directory: injection_tests
      - name: Checkout main
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: main
          path: main
          persist-credentials: false
      - name: Lint tests (main)
        run: make lint
        working-directory: main/injection_tests
      - name: Parse corpora (main)
        run: make -Otarget -j dump
        working-directory: main/injection_tests
      - name: Diff parse trees
        run: |
          if ! diff -u main/injection_tests/data/parse-dump.txt injection_tests/data/parse-dump.txt; then
            if [ "${GH_EVENT_NAME}" == "pull_request" ]; then
              gh pr comment "${GH_EVENT_NUMBER}" --body "This PR changes the parse results across corpora. Please review 'Diff parse trees' from the 'Diff corpora' job."
            fi
          fi
        env:
          GH_TOKEN: ${{ github.token }}
          GH_EVENT_NAME: ${{ github.event_name }}
          GH_EVENT_NUMBER: ${{ github.event.number }}
