name: Publish packages

on:
  push:
    tags: ["*"]

permissions: {}

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  github:
    uses: tree-sitter/workflows/.github/workflows/release.yml@5369718a08f77b4137e79f309a246e328e9459ad
    permissions:
      contents: write # create github release
      id-token: write # deploy
      attestations: write # create attestations
    with:
      abi-version: "15"
      generate: false
      attestations: true
  crates:
    uses: tree-sitter/workflows/.github/workflows/package-crates.yml@67eb38f65e3a08dc2851fa8575ced44ff2857705
    permissions:
      id-token: write # deploy
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
    with:
      abi-version: "15"
      generate: false
  pypi:
    uses: tree-sitter/workflows/.github/workflows/package-pypi.yml@5369718a08f77b4137e79f309a246e328e9459ad
    permissions:
      id-token: write # deploy
    secrets:
      PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
    with:
      abi-version: "15"
      generate: false
  npm:
    uses: tree-sitter/workflows/.github/workflows/package-npm.yml@5369718a08f77b4137e79f309a246e328e9459ad
    permissions:
      id-token: write # deploy
    secrets:
      NODE_AUTH_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
    with:
      abi-version: "15"
      generate: false
